canvas {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: none;
}

.instructionScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 40% 60%;
  row-gap: 5%;
}