.scene {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  top: 15vh;
  height: 80vh; /* Don't want to block the top*/
  text-align: center;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.img {
  height: 100%;
  width: auto;
}

.text {
  font-size: 2.5em;
}

.rightHandTxt {
  position: fixed;
  top: 5vh;
  right: 3vw;
  font-size: 1.5em;
}